.cheapProduct_wrapper {
  max-width: 1440px;
}

.cheapProduct_all_item {
  width: 95%;
  margin: 0 auto;
}

.cheapProduct_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 2px solid red;
  margin: 0 auto;
  /* margin-top: 25px; */
}

.cheapProcuct_two_wrap {
  border: 1px solid #44444461;
}

.cheap_img {
  /* border: 1px solid #44444461; */
  text-align: center;
  position: relative;
  margin: 20px 20px 20px;
}

.cheapProduct_img {
  width: 200px;
}

.cheapProduct_title {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 25px;
  margin-bottom: 25px;

  /* justify-content: center; */
}

.cheapProduct_title_item {
  font-weight: 700;
  margin-left: 20px;
  font-size: 20px;
}

.cheapProduct_title_item p {
  color: red;
  font-weight: bold;
}

.cheapProduct_item_name {
  text-align: left;
  opacity: 0.6;
  font-weight: 600;
}

.cheapProcuct_round_prt {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid red;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.cheapProcuct_round_prt p {
  font-size: 50px;
  color: red;
  font-weight: bold;
}

.cheapProduct_price_lvl {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
}

#cheapProduct_tab {
  cursor: pointer;
  border: none;
  background-color: white;
  font-size: 16px;
  font-weight: bold;
}

.cheapProduct_item_price {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
}

.cheapProduct_brand_name {
  /* margin-bottom: 100px; */
}

.cheapProduct_price {
  color: red;
  font-size: 20px;
  font-weight: bold;
}

.cheapProduct_item_price button {
  width: 150px;
  height: 40px;
  background-color: red;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border: none;
  /* border-radius: 10px; */
  cursor: pointer;
}

.cheapProduct_item_price span {
  opacity: 0.5;
}

.cheapProduct_thereIs_text {
  font-size: 15px;
  font-weight: 800;
}

.cheapProduct_thereIs {
  color: red;
}

.heapProduc_hard_icon {
  position: absolute;
  left: 90%;
  top: 15px;
  cursor: pointer;
}

.heapProduc_hard_icon:hover {
  background-color: red;
}

.cheapProduct_all_btn {
  width: 200px;
  height: 50px;
  background-color: white;
  border: 1px solid #444444;
  font-weight: 700;
}

.cheapProduct_api_map_wrap {
  display: grid;
  grid-template-columns: 1fr 230px;
}

.cheapProduct_adverd {
  display: flex;
  flex-direction: column;
}

.cheapProduct_adverd_forst {
  width: 340px;
  height: 426px;
  border: 1px solid black;
  background-image: url("../../../public/vivo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.cheapProduct_adverd_secand {
  width: 340px;
  height: 426px;
  border: 1px solid black;
  background-image: url("../../../public/huwavei.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
