.cheapProduct_container {
  width: 100%;
  /* margin: auto; */
}

.cheapProduct_tab_wrap {
  width: 92%;
  margin: auto;
}

.cheapProduct_title {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.cheapProcuct_round_prt {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid red;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.cheapProcuct_round_prt p {
  font-size: 50px;
  color: red;
  font-weight: bold;
}

.cheapProduct_price_lvl {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#cheapProduct_tab {
  cursor: pointer;
  border: none;
  background-color: white;
  font-size: 16px;
  font-weight: bold;
}

.cheapProduct_all_btn {
  width: 248px;
  height: 64px;
  background-color: white;
  border: 2px solid #444444a0;
  flex-shrink: 0;
  cursor: pointer;
}

.cheapProduct_all_btn p {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
}

/* ------>next lvl */

.cheapProduct_aip_container {
  width: 92%;
  margin: 0 auto;
  margin-top: 25px;
}

.cheapProduct_all {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid red;
  margin: auto;
  /* width: 90%; */
}

.cheapProduct_two_wrap {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.cheapProduct_two_container {
  height: 561px;
  display: flex;
  flex-direction: column;
  border: 1px solid #444;
}

.hardIcon_cheapProduct {
  display: inline-block;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  left: 40%;
  top: 25px;
  gap: 10px;
}

.cheapPraduct_hardIcon_icon:hover {
  background-color: red;
}

.cheapPraduct_items {
  height: 70%;
}

.cheapProduct_brand_img {
  width: 234.58px;
  height: 270px;
  top: 3426px;
  left: 157px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.cheapProduct_wrap_brand_list {
  width: 90%;
  margin: 0 auto;
}

.cheapProduct_link {
  color: black;
}

.cheapProduct_brand_text_item {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  color: rgba(47, 47, 47, 1);
}

.cheapProduct_brand_text {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 10px;
}

.thereIs_cheapProduct {
  font-weight: 800;
  color: red;
  width: 90%;
  text-align: left;
  margin: 0 auto;
}

.thereIs_cheapProduct span {
  color: black;
}

.cheapProduct_price_wrap {
  display: flex;
  align-items: center;
  justify-content: space-around;

  /* gap: 98px; */
}

.cheapProduct_monthly_price {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.cheapProduct_brand_prace {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.cheapProduct_add_bnt {
  width: 148.25px;
  height: 53px;
  top: 4404px;
  left: 742.61px;
  background: rgba(227, 9, 9, 1);
  color: white;
  border: none;
  cursor: pointer;
}

.cheapProduct_add_bnt p {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
}

.cheapProduct_adver {
  width: 30%;
}

.box1 {
  height: 561px;
  background-image: url("../../../public/huwavei.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
}

.box2 {
  height: 561px;
  background-image: url("../../../public/vivo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
}
